<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style type="text/css">
        .navbar {
            margin: 20px;
        }
    </style>
</head>
<footer class="row footer">
 	<p class="text-muted rowMargins">University of Guelph-Humber</p>
</footer>